In [1]:
### Make CSV of CONUS2 flow at matched gages ###
### DTT, 05/23

# This script is split into two main parts: 1) reading in CONUS2 gridded total (aggregated) daily flow for the full domain and creating a dataframe of CONUS2 flow for cells that have been matched with USGS gages in the `NWM_Gage_Adjustments_final.csv`. 2) matching the gages that both have flow between the PF csv and USGS csv retrieved from hydrodata. 
# Note that flow is converted in this script from daily accumulated flow in [m^3/h] to daily mean flow in cms or [m^3/s].

### Inputs:
# - `NWM_Gage_Adjustments_final.csv` - this can be found on the CONUS2 Dropbox or in /glade/p/univ/ucsm0002/CONUS2/domain_files
# - Daily total streamflow PFCLM outputs as PFBs - processed using `compute_daily_PF_averages.py`
# - USGS daily flow csv - from the hydrodata repository on Verde

### Outputs:
# - CSV of PFCLM daily mean flow (in Cubic Meters per Second) with gage ID, lat/long, and CONUS2 cell location
# - two flow-matched CSVs for PF and USGS flow
# - note that the CSV outputs with 'day 001' which starts at the water year (001 == October 1)***

# Notes:
# - need to fix the no_days, currently this will only be accurate if this is started at the begninning of a water year and need to add in some dictionary or if statement to specify num days in a month or something like that.
# - ***need to change day headings so that they are more descriptive than 'day 001' and have an actual date

import sys
from parflow.tools.io import read_pfb,write_pfb
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime


### Directory where PF flow PFBs are saved in ###
## Cheyenne
#directory_out = '/glade/p/univ/ucsm0002/CONUS2/CONUS2.spinup.WY2003/averages'
#organized_dir = '/glade/work/tijerina/PFCONUS2-analysis/scripts/Validation/Streamflow/Organized_Daily_Flow'
## Hydrodata
directory_out = '/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages'
organized_dir = './Organized_steady-state_WTD'

obs_data_file = 'Hydrodata_wtd_obs_instantaneous_instantaneous_WY2003.csv' #csv of USGS flow from hydrodata
metadata_file = 'Hydrodata_wtd_metadata_instantaneous_instantaneous_WY2003.csv' #csv of USGS flow from hydrodata

ny = 3256
nx = 4442

# need to change water year and number of days
water_year = 2003
no_days = 364 

# date variables for datetime for wateryear
start_date = datetime.date(water_year, 10, 1)
end_date = datetime.date(water_year, 9, 30)
# daily time step for reading daily files (this could change depending on how you are analyzing)
# delta time
delta = datetime.timedelta(days=1)

In [3]:
# Read observation data and organize
obs_data = pd.read_csv(f'{organized_dir}/{obs_data_file}', index_col=['site_id'])
obs_data = obs_data.drop(columns=['Unnamed: 0'])
# # remove sites with less than 365 days of observations
# obs_data = obs_data.loc[(obs_data['num_obs']==365)]
# Read metadata and organize
metadata = pd.read_csv(f'{organized_dir}/{metadata_file}', index_col=['site_id'])
metadata = metadata.drop(columns=['Unnamed: 0'])
# also remove the sites with less than 365 obs from the metadata
metadata = metadata[metadata.index.isin(obs_data.index)]

# add number of observations column from the obs_data df
metadata['num_obs'] = obs_data['num_obs']
# remove num_obs from data so we can sum and calc stats
obs_data = obs_data.drop(columns=['num_obs'])

In [4]:
metadata

,site_type,agency,site_name,site_id_agency,site_query_url,date_metadata_last_updated,latitude,longitude,state,huc,...,file_path,county_name,elevation,shef_id,acton_id,conus1_x,conus1_y,conus2_x,conus2_y,num_obs
site_id,,,,,,,,,,,,,,,,,,,,,
1000:OR:SNTL,SNOTEL station,NRCS,Annie Springs,1000:OR:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,42.87007,-122.16518,OR,180102030101,...,/hydrodata/national_obs/swe/data/daily/1000:OR...,Klamath,6010.0,ANSO3,22G06S,NaN,NaN,258,2286,365
1005:CO:SNTL,SNOTEL station,NRCS,Ute Creek,1005:CO:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,37.61480,-105.37322,CO,130100020604,...,/hydrodata/national_obs/swe/data/daily/1005:CO...,Costilla,10734.0,UTCC2,05M17S,1063.0,495.0,1490,1448,365
1006:NV:SNTL,SNOTEL station,NRCS,Lewis Peak,1006:NV:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,40.35720,-116.86470,NV,160401070903,...,/hydrodata/national_obs/swe/data/daily/1006:NV...,Lander,7370.0,LWPN2,16J01S,137.0,957.0,592,1908,365
1008:MT:SNTL,SNOTEL station,NRCS,Onion Park,1008:MT:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.91348,-110.85360,MT,100301030801,...,/hydrodata/national_obs/swe/data/daily/1008:MT...,Meagher,7410.0,ONPM8,10C22S,753.0,1575.0,1196,2499,365
1009:MT:SNTL,SNOTEL station,NRCS,Stringer Creek,1009:MT:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.92690,-110.90198,MT,100301030801,...,/hydrodata/national_obs/swe/data/daily/1009:MT...,Meagher,6550.0,STCM8,10C23S,750.0,1577.0,1193,2501,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984:WA:SNTL,SNOTEL station,NRCS,Spruce Springs,984:WA:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.18287,-117.54155,WA,170601030201,...,/hydrodata/national_obs/swe/data/daily/984:WA:...,Garfield,5700.0,SPGW1,17C04S,233.0,1598.0,697,2528,365
985:WA:SNTL,SNOTEL station,NRCS,Sourdough Gulch,985:WA:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.23718,-117.39438,WA,170601030202,...,/hydrodata/national_obs/swe/data/daily/985:WA:...,Asotin,4000.0,SGUW1,17C06S,245.0,1601.0,709,2531,365
988:ID:SNTL,SNOTEL station,NRCS,Hidden Lake,988:ID:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,48.89370,-116.75748,ID,170101040502,...,/hydrodata/national_obs/swe/data/daily/988:ID:...,Boundary,5040.0,HDLI1,16A12S,361.0,1879.0,825,2796,365
989:ID:SNTL,SNOTEL station,NRCS,Moscow Mountain,989:ID:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.80500,-116.85350,ID,170603061002,...,/hydrodata/national_obs/swe/data/daily/989:ID:...,Latah,4700.0,MSCI1,16C02S,300.0,1653.0,763,2580,365
990:WA:SNTL,SNOTEL station,NRCS,Beaver Pass,990:WA:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,48.87930,-121.25550,WA,171100050605,...,/hydrodata/national_obs/swe/data/daily/990:WA:...,Whatcom,3630.0,BVPW1,21A01S,NaN,NaN,518,2881,365

In [5]:
obs_data

,2002-10-01,2002-10-02,2002-10-03,2002-10-04,2002-10-05,2002-10-06,2002-10-07,2002-10-08,2002-10-09,2002-10-10,...,2003-09-21,2003-09-22,2003-09-23,2003-09-24,2003-09-25,2003-09-26,2003-09-27,2003-09-28,2003-09-29,2003-09-30
site_id,,,,,,,,,,,,,,,,,,,,,
1000:OR:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1005:CO:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006:NV:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1008:MT:SNTL,0.0,0.0,0.0,0.0,2.54,7.62,2.54,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1009:MT:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984:WA:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
985:WA:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
988:ID:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
989:ID:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990:WA:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# make CONUS2 x and y into arrays for the for loop
conusy = np.asarray(metadata['conus2_y'],dtype = 'int')
conusx = np.asarray(metadata['conus2_x'],dtype = 'int')

# Set up arrays 
pf_flow_array = np.zeros((no_days, ny, nx))
pf_flow_matched = np.zeros(obs_data.shape)

### READ STREAMFLOW PFBs ###
#Read in CONUS2 daily streamflow PFBs and save as df in flow_df, convert to total accumulated in m^3/h to mean daily in cms
for i in range(no_days):
    step = str(int(i+1)).rjust(3, '0')
    print(f'{directory_out}/swe_out.2003.daily.{step}.pfb')
    pf_flow_pfb = np.squeeze(read_pfb(f'{directory_out}/swe_out.2003.daily.{step}.pfb'))
    pf_flow_array[i,...] = pf_flow_pfb
    print(f'reading PF-CONUS2 output for day {step}')
    for j in range(len(obs_data.index)):
        if conusy[j] < 0:
            pf_flow_matched[j] = 'nan'
            #print('Gage is outside of CONUS2 range')
        else:
            pf_flow_matched[j,i] = pf_flow_array[i, conusy[j], conusx[j]]
            #print('Finding value in CONUS2 grid')

/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.001.pfb
reading flow for day 001 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.002.pfb
reading flow for day 002 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.003.pfb
reading flow for day 003 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.004.pfb
reading flow for day 004 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.005.pfb
reading flow for day 005 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.006.pfb
reading flow for day 006 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.007.pfb
reading flow for day 007 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.008.pfb
reading flow for day 008 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.009.pfb
reading flow for day 009 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.010.pfb
reading flow for day 010 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.011.pfb
reading flow for day 011 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.012.pfb
reading flow for day 012 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.013.pfb
reading flow for day 013 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.014.pfb
reading flow for day 014 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.015.pfb
reading flow for day 015 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.016.pfb
reading flow for day 016 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.017.pfb
reading flow for day 017 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.018.pfb
reading flow for day 018 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.019.pfb
reading flow for day 019 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.020.pfb
reading flow for day 020 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.021.pfb
reading flow for day 021 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.022.pfb
reading flow for day 022 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.023.pfb
reading flow for day 023 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.024.pfb
reading flow for day 024 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.025.pfb
reading flow for day 025 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.026.pfb
reading flow for day 026 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.027.pfb
reading flow for day 027 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.028.pfb
reading flow for day 028 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.029.pfb
reading flow for day 029 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.030.pfb
reading flow for day 030 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.031.pfb
reading flow for day 031 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.032.pfb
reading flow for day 032 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.033.pfb
reading flow for day 033 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.034.pfb
reading flow for day 034 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.035.pfb
reading flow for day 035 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.036.pfb
reading flow for day 036 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.037.pfb
reading flow for day 037 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.038.pfb
reading flow for day 038 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.039.pfb
reading flow for day 039 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.040.pfb
reading flow for day 040 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.041.pfb
reading flow for day 041 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.042.pfb
reading flow for day 042 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.043.pfb
reading flow for day 043 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.044.pfb
reading flow for day 044 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.045.pfb
reading flow for day 045 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.046.pfb
reading flow for day 046 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.047.pfb
reading flow for day 047 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.048.pfb
reading flow for day 048 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.049.pfb
reading flow for day 049 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.050.pfb
reading flow for day 050 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.051.pfb
reading flow for day 051 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.052.pfb
reading flow for day 052 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.053.pfb
reading flow for day 053 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.054.pfb
reading flow for day 054 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.055.pfb
reading flow for day 055 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.056.pfb
reading flow for day 056 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.057.pfb
reading flow for day 057 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.058.pfb
reading flow for day 058 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.059.pfb
reading flow for day 059 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.060.pfb
reading flow for day 060 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.061.pfb
reading flow for day 061 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.062.pfb
reading flow for day 062 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.063.pfb
reading flow for day 063 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.064.pfb
reading flow for day 064 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.065.pfb
reading flow for day 065 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.066.pfb
reading flow for day 066 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.067.pfb
reading flow for day 067 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.068.pfb
reading flow for day 068 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.069.pfb
reading flow for day 069 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.070.pfb
reading flow for day 070 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.071.pfb
reading flow for day 071 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.072.pfb
reading flow for day 072 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.073.pfb
reading flow for day 073 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.074.pfb
reading flow for day 074 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.075.pfb
reading flow for day 075 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.076.pfb
reading flow for day 076 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.077.pfb
reading flow for day 077 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.078.pfb
reading flow for day 078 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.079.pfb
reading flow for day 079 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.080.pfb
reading flow for day 080 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.081.pfb
reading flow for day 081 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.082.pfb
reading flow for day 082 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.083.pfb
reading flow for day 083 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.084.pfb
reading flow for day 084 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.085.pfb
reading flow for day 085 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.086.pfb
reading flow for day 086 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.087.pfb
reading flow for day 087 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.088.pfb
reading flow for day 088 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.089.pfb
reading flow for day 089 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.090.pfb
reading flow for day 090 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.091.pfb
reading flow for day 091 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.092.pfb
reading flow for day 092 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.093.pfb
reading flow for day 093 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.094.pfb
reading flow for day 094 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.095.pfb
reading flow for day 095 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.096.pfb
reading flow for day 096 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.097.pfb
reading flow for day 097 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.098.pfb
reading flow for day 098 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.099.pfb
reading flow for day 099 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.100.pfb
reading flow for day 100 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.101.pfb
reading flow for day 101 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.102.pfb
reading flow for day 102 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.103.pfb
reading flow for day 103 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.104.pfb
reading flow for day 104 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.105.pfb
reading flow for day 105 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.106.pfb
reading flow for day 106 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.107.pfb
reading flow for day 107 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.108.pfb
reading flow for day 108 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.109.pfb
reading flow for day 109 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.110.pfb
reading flow for day 110 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.111.pfb
reading flow for day 111 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.112.pfb
reading flow for day 112 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.113.pfb
reading flow for day 113 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.114.pfb
reading flow for day 114 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.115.pfb
reading flow for day 115 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.116.pfb
reading flow for day 116 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.117.pfb
reading flow for day 117 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.118.pfb
reading flow for day 118 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.119.pfb
reading flow for day 119 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.120.pfb
reading flow for day 120 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.121.pfb
reading flow for day 121 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.122.pfb
reading flow for day 122 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.123.pfb
reading flow for day 123 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.124.pfb
reading flow for day 124 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.125.pfb
reading flow for day 125 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.126.pfb
reading flow for day 126 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.127.pfb
reading flow for day 127 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.128.pfb
reading flow for day 128 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.129.pfb
reading flow for day 129 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.130.pfb
reading flow for day 130 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.131.pfb
reading flow for day 131 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.132.pfb
reading flow for day 132 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/swe_out.2003.daily.133.pfb
reading flow for day 133 and converting from m^3/h to m^3/s

In [7]:
# Organize daily flow matched array with the same index and dates as the obs_data
pf_flow_match_df = pd.DataFrame(pf_flow_matched)
pf_flow_match_df = pf_flow_match_df.set_index(obs_data.index)
column_headers = list(obs_data.columns.values)
pf_flow_match_df.columns = column_headers
pf_flow_match_df.shape

(640, 365)

In [8]:
pf_flow_match_df_new = pf_flow_match_df.dropna()
pf_flow_match_df_new

,2002-10-01,2002-10-02,2002-10-03,2002-10-04,2002-10-05,2002-10-06,2002-10-07,2002-10-08,2002-10-09,2002-10-10,...,2003-09-21,2003-09-22,2003-09-23,2003-09-24,2003-09-25,2003-09-26,2003-09-27,2003-09-28,2003-09-29,2003-09-30
site_id,,,,,,,,,,,,,,,,,,,,,
1000:OR:SNTL,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1005:CO:SNTL,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006:NV:SNTL,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1008:MT:SNTL,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1009:MT:SNTL,0.0,0.0,0.0,0.925932,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984:WA:SNTL,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
985:WA:SNTL,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
988:ID:SNTL,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
989:ID:SNTL,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990:WA:SNTL,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
obs_data_new = obs_data[obs_data.index.isin(pf_flow_match_df_new.index)]
obs_data_new

,2002-10-01,2002-10-02,2002-10-03,2002-10-04,2002-10-05,2002-10-06,2002-10-07,2002-10-08,2002-10-09,2002-10-10,...,2003-09-21,2003-09-22,2003-09-23,2003-09-24,2003-09-25,2003-09-26,2003-09-27,2003-09-28,2003-09-29,2003-09-30
site_id,,,,,,,,,,,,,,,,,,,,,
1000:OR:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1005:CO:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006:NV:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1008:MT:SNTL,0.0,0.0,0.0,0.0,2.54,7.62,2.54,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1009:MT:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984:WA:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
985:WA:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
988:ID:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
989:ID:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990:WA:SNTL,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
metadata_new = metadata[metadata.index.isin(pf_flow_match_df_new.index)]
metadata_new

,site_type,agency,site_name,site_id_agency,site_query_url,date_metadata_last_updated,latitude,longitude,state,huc,...,file_path,county_name,elevation,shef_id,acton_id,conus1_x,conus1_y,conus2_x,conus2_y,num_obs
site_id,,,,,,,,,,,,,,,,,,,,,
1000:OR:SNTL,SNOTEL station,NRCS,Annie Springs,1000:OR:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,42.87007,-122.16518,OR,180102030101,...,/hydrodata/national_obs/swe/data/daily/1000:OR...,Klamath,6010.0,ANSO3,22G06S,NaN,NaN,258,2286,365
1005:CO:SNTL,SNOTEL station,NRCS,Ute Creek,1005:CO:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,37.61480,-105.37322,CO,130100020604,...,/hydrodata/national_obs/swe/data/daily/1005:CO...,Costilla,10734.0,UTCC2,05M17S,1063.0,495.0,1490,1448,365
1006:NV:SNTL,SNOTEL station,NRCS,Lewis Peak,1006:NV:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,40.35720,-116.86470,NV,160401070903,...,/hydrodata/national_obs/swe/data/daily/1006:NV...,Lander,7370.0,LWPN2,16J01S,137.0,957.0,592,1908,365
1008:MT:SNTL,SNOTEL station,NRCS,Onion Park,1008:MT:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.91348,-110.85360,MT,100301030801,...,/hydrodata/national_obs/swe/data/daily/1008:MT...,Meagher,7410.0,ONPM8,10C22S,753.0,1575.0,1196,2499,365
1009:MT:SNTL,SNOTEL station,NRCS,Stringer Creek,1009:MT:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.92690,-110.90198,MT,100301030801,...,/hydrodata/national_obs/swe/data/daily/1009:MT...,Meagher,6550.0,STCM8,10C23S,750.0,1577.0,1193,2501,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984:WA:SNTL,SNOTEL station,NRCS,Spruce Springs,984:WA:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.18287,-117.54155,WA,170601030201,...,/hydrodata/national_obs/swe/data/daily/984:WA:...,Garfield,5700.0,SPGW1,17C04S,233.0,1598.0,697,2528,365
985:WA:SNTL,SNOTEL station,NRCS,Sourdough Gulch,985:WA:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.23718,-117.39438,WA,170601030202,...,/hydrodata/national_obs/swe/data/daily/985:WA:...,Asotin,4000.0,SGUW1,17C06S,245.0,1601.0,709,2531,365
988:ID:SNTL,SNOTEL station,NRCS,Hidden Lake,988:ID:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,48.89370,-116.75748,ID,170101040502,...,/hydrodata/national_obs/swe/data/daily/988:ID:...,Boundary,5040.0,HDLI1,16A12S,361.0,1879.0,825,2796,365
989:ID:SNTL,SNOTEL station,NRCS,Moscow Mountain,989:ID:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.80500,-116.85350,ID,170603061002,...,/hydrodata/national_obs/swe/data/daily/989:ID:...,Latah,4700.0,MSCI1,16C02S,300.0,1653.0,763,2580,365
990:WA:SNTL,SNOTEL station,NRCS,Beaver Pass,990:WA:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,48.87930,-121.25550,WA,171100050605,...,/hydrodata/national_obs/swe/data/daily/990:WA:...,Whatcom,3630.0,BVPW1,21A01S,NaN,NaN,518,2881,365

In [12]:
# save matched daily average flow and metadata as csv's
pf_flow_match_df_new.to_csv(f'{organized_dir}/PFCONUS2_Daily_matched_SWE_mm_{water_year}.csv', sep = ",")
obs_data_new.to_csv(f'{organized_dir}/SNOTEL_Daily_matched_SWE_mm_{water_year}.csv', sep = ",")
metadata_new.to_csv(f'{organized_dir}/SNOTEL_metadata_matched_SWE_mm_{water_year}.csv', sep = ",")

In [ ]:
# # Calculate Annual Average Flow for PFCLM and save
# pf_flow_avg = np.mean(pf_flow_array, axis = 0) #monthly average 
# pf_flow_avg.shape
# np.savetxt(f'{organized_dir}/PFCONUS2_Annual_Avg_Flow_cms_WY2003.csv', pf_flow_avg, delimiter=",")

In [ ]:
pf_flow_array.shape

In [ ]:
pf_flow_match.shape