In [1]:
### Make CSV of CONUS2 flow at matched gages ###
### DTT, 05/23

# This script is split into two main parts: 1) reading in CONUS2 gridded total (aggregated) daily flow for the full domain and creating a dataframe of CONUS2 flow for cells that have been matched with USGS gages in the `NWM_Gage_Adjustments_final.csv`. 2) matching the gages that both have flow between the PF csv and USGS csv retrieved from hydrodata. 
# Note that flow is converted in this script from daily accumulated flow in [m^3/h] to daily mean flow in cms or [m^3/s].

### Inputs:
# - `NWM_Gage_Adjustments_final.csv` - this can be found on the CONUS2 Dropbox or in /glade/p/univ/ucsm0002/CONUS2/domain_files
# - Daily total streamflow PFCLM outputs as PFBs - processed using `compute_daily_PF_averages.py`
# - USGS daily flow csv - from the hydrodata repository on Verde

### Outputs:
# - CSV of PFCLM daily mean flow (in Cubic Meters per Second) with gage ID, lat/long, and CONUS2 cell location
# - two flow-matched CSVs for PF and USGS flow
# - note that the CSV outputs with 'day 001' which starts at the water year (001 == October 1)***

# Notes:
# - need to fix the no_days, currently this will only be accurate if this is started at the begninning of a water year and need to add in some dictionary or if statement to specify num days in a month or something like that.
# - ***need to change day headings so that they are more descriptive than 'day 001' and have an actual date

import sys
from parflow.tools.io import read_pfb,write_pfb
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime


### Directory where PF flow PFBs are saved in ###
## Cheyenne
#directory_out = '/glade/p/univ/ucsm0002/CONUS2/CONUS2.spinup.WY2003/averages'
#organized_dir = '/glade/work/tijerina/PFCONUS2-analysis/scripts/Validation/Streamflow/Organized_Daily_Flow'
## Hydrodata
directory_out = '/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages'
organized_dir = './Organized_Daily_Flow'

obs_data_file = 'Hydrodata_streamflow_obs_daily_average_WY2003.csv' #csv of USGS flow from hydrodata
metadata_file = 'Hydrodata_streamflow_metadata_daily_average_WY2003.csv' #csv of USGS flow from hydrodata

ny = 3256
nx = 4442

# need to change water year and number of days
water_year = 2003
no_days = 364 

# date variables for datetime for wateryear
start_date = datetime.date(water_year, 10, 1)
end_date = datetime.date(water_year, 9, 30)
# daily time step for reading daily files (this could change depending on how you are analyzing)
# delta time
delta = datetime.timedelta(days=1)

In [2]:
# Read observation data and organize
obs_data = pd.read_csv(f'{organized_dir}/{obs_data_file}', index_col=['site_id'])
obs_data = obs_data.drop(columns=['Unnamed: 0'])
# remove sites with less than 365 days of observations
obs_data = obs_data.loc[(obs_data['num_obs']==365)]
# Read metadata and organize
metadata = pd.read_csv(f'{organized_dir}/{metadata_file}', index_col=['site_id'])
metadata = metadata.drop(columns=['Unnamed: 0'])
# also remove the sites with less than 365 obs from the metadata
metadata = metadata[metadata.index.isin(obs_data.index)]

# add number of observations column from the obs_data df
metadata['num_obs'] = obs_data['num_obs']
# remove num_obs from data so we can sum and calc stats
obs_data = obs_data.drop(columns=['num_obs'])

In [3]:
metadata

,site_type,agency,site_name,site_id_agency,site_query_url,date_metadata_last_updated,latitude,longitude,state,huc,...,topo_cd,instruments_cd,construction_dt,inventory_dt,drain_area_va,contrib_drain_area_va,local_time_fg,reliability_cd,project_no,num_obs
site_id,,,,,,,,,,,,,,,,,,,,,
1010000,stream gauge,USGS,"St. John River at Ninemile Bridge, Maine",1010000,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,46.700556,-69.715556,ME,1010001,...,NaN,YNNNYNNNNYNNNNNNYNNNNNNNNNNNNN,NaN,NaN,1341.0000,1341.0,Y,NaN,442300100,365
1010070,stream gauge,USGS,"Big Black River near Depot Mtn, Maine",1010070,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,46.893889,-69.751667,ME,1010001,...,NaN,YNNNYNYNNYNNNNNNYNNNNNNNNNNNNN,NaN,NaN,171.0000,171.0,Y,NaN,442300100,365
1010500,stream gauge,USGS,"St. John River at Dickey, Maine",1010500,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,47.113056,-69.088056,ME,1010001,...,NaN,YNNNYNNNNYNNNYNNYNNNNNNNNNNNNN,NaN,NaN,2680.0000,2680.0,Y,NaN,442300100,365
1011000,stream gauge,USGS,"Allagash River near Allagash, Maine",1011000,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,47.069722,-69.079444,ME,1010002,...,NaN,YNNNYNNNNYNNNNNNYNNNNNNNNNNNNN,NaN,NaN,1478.0000,1229.0,Y,NaN,442300100,365
1013500,stream gauge,USGS,"Fish River near Fort Kent, Maine",1013500,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,47.237500,-68.582778,ME,1010003,...,NaN,YNNNYNYNNYNNNNNNYNNNNNNNNNNNNN,NaN,NaN,873.0000,873.0,Y,NaN,442300100,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424302090225601,stream gauge,USGS,"U.W. PLATTEVILLE FARMS SITE 03 NR PLATTEVILLE, WI",424302090225601,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,42.717218,-90.382350,WI,7060005,...,NaN,NNYYNNNNNNYYNNNNNNNNNNNNNNNNNN,NaN,NaN,0.0220,NaN,Y,NaN,2491BQY13,365
424314090240601,stream gauge,USGS,"U.W. PLATTEVILLE FARMS SITE 02 NR PLATTEVILLE, WI",424314090240601,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,42.720556,-90.401667,WI,7060005,...,NaN,NNYYNNNNNNYYNNNNNNNNNNNNNNNNNN,NaN,NaN,0.0327,NaN,Y,NaN,2491BQY13,365
430140089281000,stream gauge,USGS,"KRONCKE DRIVE STORM SEWER AT MADISON, WI",430140089281000,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,43.027775,-89.469565,WI,7090001,...,F,NNYNNNNNNNNYNNYNYNNNNNNNNNNNNN,NaN,NaN,0.0800,NaN,Y,NaN,2491BQY29,365
430209089274900,stream gauge,USGS,"KNOX LANE STORM SEWER AT MADISON, WI",430209089274900,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,43.035830,-89.463732,WI,7090001,...,F,NNYNNNNNNNNYNNYNYNNNNNNNNNNNNN,NaN,NaN,0.1400,NaN,Y,NaN,2491BQY19,365
430230089284300,stream gauge,USGS,"PIPING ROCK ROAD STORM SEWER AT MADISON, WI",430230089284300,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,43.041663,-89.478732,WI,7090001,...,F,NNYNNNNNNNNYNYYNNNNNNNNNNNNNNN,NaN,NaN,0.0900,NaN,Y,NaN,445517237,365

In [4]:
obs_data

,2002-10-01,2002-10-02,2002-10-03,2002-10-04,2002-10-05,2002-10-06,2002-10-07,2002-10-08,2002-10-09,2002-10-10,...,2003-09-21,2003-09-22,2003-09-23,2003-09-24,2003-09-25,2003-09-26,2003-09-27,2003-09-28,2003-09-29,2003-09-30
site_id,,,,,,,,,,,,,,,,,,,,,
1010000,9.169200,7.839100,7.725900,6.792000,5.77320,5.12230,4.72610,4.47140,4.131800,3.93370,...,4.07520,3.99030,3.99030,4.38650,6.39580,7.07500,6.84860,7.47120,8.97110,9.19750
1010070,0.597130,0.506570,0.458460,0.435820,0.42733,0.39054,0.37922,0.36224,0.370730,0.39903,...,0.94805,0.89994,0.90277,1.03578,1.35274,1.42066,1.39236,1.33576,1.64423,1.52254
1010500,8.320200,11.461500,12.933100,11.376600,11.40490,10.30120,9.28240,8.20700,7.527800,7.44290,...,11.60300,11.40490,11.12190,11.91430,13.15950,13.95190,15.90460,18.05540,58.58100,74.14600
1011000,7.414600,7.386300,6.990100,6.565600,6.36750,6.19770,5.74490,5.06570,4.528000,4.41480,...,12.65010,12.36710,11.94260,12.70670,13.69720,13.61230,13.15950,14.00850,66.22200,76.12700
1013500,3.509200,3.424300,3.169600,3.113000,3.33940,2.85830,2.85830,2.63190,2.405500,2.50455,...,14.37640,13.81040,13.61230,13.55570,13.15950,12.25390,11.94260,15.76310,58.29800,51.22300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424302090225601,0.002331,0.000111,0.000000,0.014405,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
424314090240601,0.000070,0.000017,0.000000,0.007243,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
430140089281000,0.000000,0.000849,0.000283,0.009339,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
430209089274900,0.000000,0.001981,0.000849,0.008490,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
430230089284300,0.000000,0.000566,0.000566,0.007641,0.00000,0.00000,0.00000,0.00000,0.000283,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [5]:
# make CONUS2 x and y into arrays for the for loop
conusy = np.asarray(metadata['conus2_y'],dtype = 'int')
conusx = np.asarray(metadata['conus2_x'],dtype = 'int')

# Set up arrays 
pf_flow_array = np.zeros((no_days, ny, nx))
pf_flow_matched = np.zeros(obs_data.shape)

### READ STREAMFLOW PFBs ###
#Read in CONUS2 daily streamflow PFBs and save as df in flow_df, convert to total accumulated in m^3/h to mean daily in cms
for i in range(no_days):
    step = str(int(i+1)).rjust(3, '0')
    print(f'{directory_out}/flow.2003.daily.{step}.pfb')
    pf_flow_pfb = np.squeeze(read_pfb(f'{directory_out}/flow.2003.daily.{step}.pfb'))
    pf_flow_array[i,...] = pf_flow_pfb/3600 # CONVERT FROM m^3/h to cms
    print(f'reading flow for day {step} and converting from m^3/h to m^3/s')
    for j in range(len(obs_data.index)):
        if conusy[j] < 0:
            pf_flow_matched[j] = 'nan'
            #print('Gage is outside of CONUS2 range')
        else:
            pf_flow_matched[j,i] = pf_flow_array[i, conusy[j], conusx[j]]
            #print('Finding value in CONUS2 grid')

/home/dtt2/.conda/envs/pf-mapping/lib/python3.9/site-packages/pandas/core/series.py:917: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)

/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.001.pfb
reading flow for day 001 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.002.pfb
reading flow for day 002 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.003.pfb
reading flow for day 003 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.004.pfb
reading flow for day 004 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.005.pfb
reading flow for day 005 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.006.pfb
reading flow for day 006 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.007.pfb
reading flow for day 007 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.008.pfb
reading flow for day 008 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.009.pfb
reading flow for day 009 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.010.pfb
reading flow for day 010 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.011.pfb
reading flow for day 011 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.012.pfb
reading flow for day 012 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.013.pfb
reading flow for day 013 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.014.pfb
reading flow for day 014 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.015.pfb
reading flow for day 015 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.016.pfb
reading flow for day 016 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.017.pfb
reading flow for day 017 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.018.pfb
reading flow for day 018 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.019.pfb
reading flow for day 019 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.020.pfb
reading flow for day 020 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.021.pfb
reading flow for day 021 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.022.pfb
reading flow for day 022 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.023.pfb
reading flow for day 023 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.024.pfb
reading flow for day 024 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.025.pfb
reading flow for day 025 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.026.pfb
reading flow for day 026 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.027.pfb
reading flow for day 027 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.028.pfb
reading flow for day 028 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.029.pfb
reading flow for day 029 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.030.pfb
reading flow for day 030 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.031.pfb
reading flow for day 031 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.032.pfb
reading flow for day 032 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.033.pfb
reading flow for day 033 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.034.pfb
reading flow for day 034 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.035.pfb
reading flow for day 035 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.036.pfb
reading flow for day 036 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.037.pfb
reading flow for day 037 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.038.pfb
reading flow for day 038 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.039.pfb
reading flow for day 039 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.040.pfb
reading flow for day 040 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.041.pfb
reading flow for day 041 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.042.pfb
reading flow for day 042 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.043.pfb
reading flow for day 043 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.044.pfb
reading flow for day 044 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.045.pfb
reading flow for day 045 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.046.pfb
reading flow for day 046 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.047.pfb
reading flow for day 047 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.048.pfb
reading flow for day 048 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.049.pfb
reading flow for day 049 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.050.pfb
reading flow for day 050 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.051.pfb
reading flow for day 051 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.052.pfb
reading flow for day 052 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.053.pfb
reading flow for day 053 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.054.pfb
reading flow for day 054 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.055.pfb
reading flow for day 055 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.056.pfb
reading flow for day 056 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.057.pfb
reading flow for day 057 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.058.pfb
reading flow for day 058 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.059.pfb
reading flow for day 059 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.060.pfb
reading flow for day 060 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.061.pfb
reading flow for day 061 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.062.pfb
reading flow for day 062 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.063.pfb
reading flow for day 063 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.064.pfb
reading flow for day 064 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.065.pfb
reading flow for day 065 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.066.pfb
reading flow for day 066 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.067.pfb
reading flow for day 067 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.068.pfb
reading flow for day 068 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.069.pfb
reading flow for day 069 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.070.pfb
reading flow for day 070 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.071.pfb
reading flow for day 071 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.072.pfb
reading flow for day 072 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.073.pfb
reading flow for day 073 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.074.pfb
reading flow for day 074 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.075.pfb
reading flow for day 075 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.076.pfb
reading flow for day 076 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.077.pfb
reading flow for day 077 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.078.pfb
reading flow for day 078 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.079.pfb
reading flow for day 079 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.080.pfb
reading flow for day 080 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.081.pfb
reading flow for day 081 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.082.pfb
reading flow for day 082 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.083.pfb
reading flow for day 083 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.084.pfb
reading flow for day 084 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.085.pfb
reading flow for day 085 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.086.pfb
reading flow for day 086 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.087.pfb
reading flow for day 087 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.088.pfb
reading flow for day 088 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.089.pfb
reading flow for day 089 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.090.pfb
reading flow for day 090 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.091.pfb
reading flow for day 091 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.092.pfb
reading flow for day 092 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.093.pfb
reading flow for day 093 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.094.pfb
reading flow for day 094 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.095.pfb
reading flow for day 095 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.096.pfb
reading flow for day 096 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.097.pfb
reading flow for day 097 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.098.pfb
reading flow for day 098 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.099.pfb
reading flow for day 099 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.100.pfb
reading flow for day 100 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.101.pfb
reading flow for day 101 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.102.pfb
reading flow for day 102 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.103.pfb
reading flow for day 103 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.104.pfb
reading flow for day 104 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.105.pfb
reading flow for day 105 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.106.pfb
reading flow for day 106 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.107.pfb
reading flow for day 107 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.108.pfb
reading flow for day 108 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.109.pfb
reading flow for day 109 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.110.pfb
reading flow for day 110 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.111.pfb
reading flow for day 111 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.112.pfb
reading flow for day 112 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.113.pfb
reading flow for day 113 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.114.pfb
reading flow for day 114 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.115.pfb
reading flow for day 115 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.116.pfb
reading flow for day 116 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.117.pfb
reading flow for day 117 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.118.pfb
reading flow for day 118 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.119.pfb
reading flow for day 119 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.120.pfb
reading flow for day 120 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.121.pfb
reading flow for day 121 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.122.pfb
reading flow for day 122 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.123.pfb
reading flow for day 123 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.124.pfb
reading flow for day 124 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.125.pfb
reading flow for day 125 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.126.pfb
reading flow for day 126 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.127.pfb
reading flow for day 127 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.128.pfb
reading flow for day 128 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.129.pfb
reading flow for day 129 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.130.pfb
reading flow for day 130 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.131.pfb
reading flow for day 131 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.132.pfb
reading flow for day 132 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.133.pfb
reading flow for day 133 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.134.pfb
reading flow for day 134 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.135.pfb
reading flow for day 135 and converting from m^3/h to m^3/s
/hydrodata/temp/CONUS2_transfers/CONUS2/spinup_WY2003/averages/flow.2003.daily.136.pfb
reading flow for day 136 and converting from m^3/h to m^3/s

In [6]:
# Organize daily flow matched array with the same index and dates as the obs_data
pf_flow_match_df = pd.DataFrame(pf_flow_matched)
pf_flow_match_df = pf_flow_match_df.set_index(obs_data.index)
column_headers = list(obs_data.columns.values)
pf_flow_match_df.columns = column_headers
pf_flow_match_df.shape

In [7]:
pf_flow_match_df_new = pf_flow_match_df.dropna()
pf_flow_match_df_new

,2002-10-01,2002-10-02,2002-10-03,2002-10-04,2002-10-05,2002-10-06,2002-10-07,2002-10-08,2002-10-09,2002-10-10,...,2003-09-21,2003-09-22,2003-09-23,2003-09-24,2003-09-25,2003-09-26,2003-09-27,2003-09-28,2003-09-29,2003-09-30
site_id,,,,,,,,,,,,,,,,,,,,,
1010000,43.948426,40.765870,34.389042,27.512755,22.526485,18.593126,15.312236,12.532960,10.260977,8.550327,...,0.228571,0.168567,0.238709,0.472419,0.646194,0.612115,0.546623,0.822631,8.067395,0.0
1010070,5.335298,3.581117,2.112628,1.401444,1.006803,0.803474,0.716559,0.526913,0.385837,0.335107,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.116555,2.476887,0.0
1010500,94.018137,87.844915,81.101017,74.425605,67.642209,60.635444,52.793281,44.862003,38.017604,32.625893,...,1.563807,1.286330,1.151007,1.301772,1.288099,1.414516,1.376162,1.649360,44.722650,0.0
1011000,37.266464,34.151593,31.949418,28.746042,24.794453,21.037749,17.725660,14.927488,12.823219,11.328315,...,0.383030,0.248542,0.270354,0.370566,0.447849,0.437744,0.346303,1.857882,32.173826,0.0
1013500,18.686342,17.994405,17.171830,14.470901,14.358695,12.452931,11.061765,10.040905,9.119768,8.499280,...,0.542694,0.269608,0.231789,0.451696,0.321280,0.249696,0.204132,1.203276,30.743592,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14366000,17.141487,14.177220,9.895453,7.432401,5.706502,3.889199,2.879436,1.984967,1.299827,0.876629,...,0.000858,0.001007,0.001868,0.003321,0.004422,0.001325,0.000117,0.001613,0.002378,0.0
14369500,23.485204,19.583931,15.918011,12.305456,8.867973,6.812724,4.987838,3.594443,2.754412,2.164704,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
14372300,158.534609,146.141058,138.795475,132.012636,125.932543,121.008399,112.250051,96.432045,80.411230,67.641496,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
14377100,46.052622,38.836457,27.059780,17.896472,11.908086,8.185555,5.777529,4.123779,2.972409,2.172995,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
14400000,43.848673,30.632259,18.949807,12.324811,8.591489,5.832700,3.756569,2.327096,1.377661,0.807770,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [8]:
obs_data_new = obs_data[obs_data.index.isin(pf_flow_match_df_new.index)]
obs_data_new

,2002-10-01,2002-10-02,2002-10-03,2002-10-04,2002-10-05,2002-10-06,2002-10-07,2002-10-08,2002-10-09,2002-10-10,...,2003-09-21,2003-09-22,2003-09-23,2003-09-24,2003-09-25,2003-09-26,2003-09-27,2003-09-28,2003-09-29,2003-09-30
site_id,,,,,,,,,,,,,,,,,,,,,
1010000,9.16920,7.83910,7.72590,6.79200,5.77320,5.12230,4.72610,4.47140,4.13180,3.93370,...,4.07520,3.99030,3.99030,4.38650,6.39580,7.07500,6.84860,7.47120,8.97110,9.19750
1010070,0.59713,0.50657,0.45846,0.43582,0.42733,0.39054,0.37922,0.36224,0.37073,0.39903,...,0.94805,0.89994,0.90277,1.03578,1.35274,1.42066,1.39236,1.33576,1.64423,1.52254
1010500,8.32020,11.46150,12.93310,11.37660,11.40490,10.30120,9.28240,8.20700,7.52780,7.44290,...,11.60300,11.40490,11.12190,11.91430,13.15950,13.95190,15.90460,18.05540,58.58100,74.14600
1011000,7.41460,7.38630,6.99010,6.56560,6.36750,6.19770,5.74490,5.06570,4.52800,4.41480,...,12.65010,12.36710,11.94260,12.70670,13.69720,13.61230,13.15950,14.00850,66.22200,76.12700
1013500,3.50920,3.42430,3.16960,3.11300,3.33940,2.85830,2.85830,2.63190,2.40550,2.50455,...,14.37640,13.81040,13.61230,13.55570,13.15950,12.25390,11.94260,15.76310,58.29800,51.22300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14366000,6.50900,6.53730,6.50900,6.70710,6.56560,6.59390,6.65050,6.59390,6.56560,6.59390,...,7.41460,7.38630,7.30140,7.30140,7.30140,7.32970,7.35800,7.30140,7.30140,7.35800
14369500,6.33920,6.19770,6.22600,6.42410,6.56560,6.45240,6.45240,6.45240,6.45240,6.73540,...,7.15990,7.44290,7.27310,6.90520,6.70710,6.50900,6.56560,6.48070,6.48070,6.48070
14372300,37.92200,39.90300,41.60100,41.31800,41.88400,42.45000,40.75200,40.18600,45.28000,52.07200,...,42.45000,39.62000,38.77100,37.92200,37.07300,36.50700,36.22400,36.50700,36.79000,37.63900
14377100,0.73014,0.77259,0.78108,0.79523,0.82353,0.83202,0.82070,0.78108,0.75561,0.74146,...,0.83202,0.82070,0.87447,0.90560,0.90843,0.89994,0.89145,0.85749,0.84051,0.83768
14400000,1.84516,1.84233,1.83101,1.84799,1.87629,1.87063,1.83950,1.81120,1.78573,1.77441,...,2.46210,2.43380,2.43380,2.43380,2.40550,2.40550,2.40550,2.37720,2.37720,2.37720

In [9]:
metadata_new = metadata[metadata.index.isin(pf_flow_match_df_new.index)]
metadata_new

,site_type,agency,site_name,site_id_agency,site_query_url,date_metadata_last_updated,latitude,longitude,state,huc,...,topo_cd,instruments_cd,construction_dt,inventory_dt,drain_area_va,contrib_drain_area_va,local_time_fg,reliability_cd,project_no,num_obs
site_id,,,,,,,,,,,,,,,,,,,,,
1010000,stream gauge,USGS,"St. John River at Ninemile Bridge, Maine",1010000,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,46.700556,-69.715556,ME,1010001,...,NaN,YNNNYNNNNYNNNNNNYNNNNNNNNNNNNN,NaN,NaN,1341.0,1341.0,Y,NaN,442300100,365
1010070,stream gauge,USGS,"Big Black River near Depot Mtn, Maine",1010070,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,46.893889,-69.751667,ME,1010001,...,NaN,YNNNYNYNNYNNNNNNYNNNNNNNNNNNNN,NaN,NaN,171.0,171.0,Y,NaN,442300100,365
1010500,stream gauge,USGS,"St. John River at Dickey, Maine",1010500,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,47.113056,-69.088056,ME,1010001,...,NaN,YNNNYNNNNYNNNYNNYNNNNNNNNNNNNN,NaN,NaN,2680.0,2680.0,Y,NaN,442300100,365
1011000,stream gauge,USGS,"Allagash River near Allagash, Maine",1011000,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,47.069722,-69.079444,ME,1010002,...,NaN,YNNNYNNNNYNNNNNNYNNNNNNNNNNNNN,NaN,NaN,1478.0,1229.0,Y,NaN,442300100,365
1013500,stream gauge,USGS,"Fish River near Fort Kent, Maine",1013500,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,47.237500,-68.582778,ME,1010003,...,NaN,YNNNYNYNNYNNNNNNYNNNNNNNNNNNNN,NaN,NaN,873.0,873.0,Y,NaN,442300100,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14366000,stream gauge,USGS,"APPLEGATE RIVER NEAR APPLEGATE, OR",14366000,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,42.241511,-123.140049,OR,17100309,...,NaN,NNNNYNNNNNNNNNNNNNNNNNNNNNNNNN,NaN,NaN,483.0,NaN,Y,C,NaN,365
14369500,stream gauge,USGS,"APPLEGATE RIVER NEAR WILDERVILLE, OR",14369500,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,42.354006,-123.406728,OR,17100309,...,NaN,NNNNYNNNNNNNNNNNNNNNNNNNNNNNNN,NaN,NaN,698.0,NaN,Y,C,NaN,365
14372300,stream gauge,USGS,"ROGUE RIVER NEAR AGNESS, OR",14372300,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,42.578442,-124.058144,OR,17100310,...,NaN,NNNNYNNNNNNNNNNNNNNNNNNNNNNNNN,NaN,NaN,3939.0,NaN,Y,C,NaN,365
14377100,stream gauge,USGS,"ILLINOIS RIVER NEAR KERBY, OR",14377100,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,42.231779,-123.663680,OR,17100311,...,NaN,NNNNYNNNNNNNNNNNNNNNNNNNNNNNNN,NaN,NaN,380.0,NaN,Y,C,NaN,365
14400000,stream gauge,USGS,"CHETCO RIVER NEAR BROOKINGS, OR",14400000,https://waterservices.usgs.gov/nwis/site/?form...,2023-05-30,42.123443,-124.187311,OR,17100312,...,C,NNNNYNNNNNNNNNNNNNNNNNNNNNNNNN,NaN,NaN,271.0,NaN,Y,C,NaN,365

In [10]:
# save matched daily average flow and metadata as csv's
pf_flow_match_df_new.to_csv(f'{organized_dir}/PFCONUS2_Daily_matched_flow_cms_{water_year}.csv', sep = ",")
obs_data_new.to_csv(f'{organized_dir}/USGS_Daily_matched_flow_cms_{water_year}.csv', sep = ",")
metadata_new.to_csv(f'{organized_dir}/USGS_metadata_matched_flow_{water_year}.csv', sep = ",")

In [ ]:
# # Calculate Annual Average Flow for PFCLM and save
# pf_flow_avg = np.mean(pf_flow_array, axis = 0) #monthly average 
# pf_flow_avg.shape
# np.savetxt(f'{organized_dir}/PFCONUS2_Annual_Avg_Flow_cms_WY2003.csv', pf_flow_avg, delimiter=",")

In [ ]:
pf_flow_array.shape

In [ ]:
pf_flow_match.shape