In [1]:
import sys
from parflow.tools.io import read_pfb,write_pfb
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Directory where PF flow PFBs are saved in
directory_out = '/hydrodata/temp/CONUS2_transfers/CONUS2_spinup_WY2003/averages'#'/glade/scratch/tijerina/CONUS2/spinup_WY2003/averages'
organized_dir = './Organized_WTD'#'/glade/p/univ/ucsm0002/CONUS2/Validation/Streamflow/Organized_Daily_Flow'

# Files for average temperature (in C)
data_file = 'Temperature_obs_daily_avg_WY2003.csv' 
metadata_file = 'Temperature_obs_metadata_daily_avg_WY2003.csv'
# need to change water year and number of days
water_year = 2003
no_days = 365 

ny = 3256
nx = 4442

### SNOTEL Avg Daily Temperature

In [2]:
obs_data = pd.read_csv(data_file, index_col=['site_id'])
obs_data  = obs_data.drop(columns=['Unnamed: 0'])
obs_data = obs_data.loc[(obs_data['num_obs']>340)] # I arbitrarily set this to only include sites with more than 340 days of observations
obs_data

,2002-10-01,2002-10-02,2002-10-03,2002-10-04,2002-10-05,2002-10-06,2002-10-07,2002-10-08,2002-10-09,2002-10-10,...,2003-09-22,2003-09-23,2003-09-24,2003-09-25,2003-09-26,2003-09-27,2003-09-28,2003-09-29,2003-09-30,num_obs
site_id,,,,,,,,,,,,,,,,,,,,,
1000:OR:SNTL,0.6,3.4,4.3,7.2,8.4,8.9,9.2,8.0,6.8,2.8,...,13.1,13.3,13.9,13.5,16.2,16.1,15.0,9.8,8.7,364
1005:CO:SNTL,5.2,3.4,0.6,1.8,5.0,3.5,3.8,3.5,4.9,4.5,...,7.1,9.4,7.5,7.6,9.0,8.7,6.7,8.0,7.6,365
1006:NV:SNTL,0.4,0.6,4.7,4.4,6.4,8.6,9.7,10.0,10.8,12.2,...,15.1,16.3,16.7,16.0,16.6,16.7,17.2,16.5,15.8,363
1008:MT:SNTL,-2.9,-1.0,-0.3,0.6,-0.1,2.5,5.3,2.7,4.8,5.4,...,8.2,7.8,5.7,11.4,7.9,5.9,5.5,2.4,4.2,365
1009:MT:SNTL,-1.2,-0.4,0.6,2.0,1.3,3.1,5.4,3.1,3.7,5.3,...,8.0,8.9,6.3,11.9,8.0,6.0,6.0,3.3,3.9,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985:WA:SNTL,5.6,7.8,7.9,8.7,10.3,13.0,13.6,12.4,12.0,6.8,...,16.7,16.6,17.3,19.8,19.7,19.4,19.7,17.2,16.7,365
988:ID:SNTL,2.1,4.0,6.0,5.2,6.7,8.9,8.2,7.5,7.2,3.5,...,11.7,10.0,10.0,14.5,13.7,11.9,11.6,9.1,8.2,364
989:ID:SNTL,3.9,5.8,5.1,6.8,6.8,9.3,10.7,10.1,9.2,4.1,...,13.3,13.4,14.8,15.6,16.7,17.3,17.7,15.4,18.2,365
990:WA:SNTL,3.3,4.5,6.6,7.3,7.5,8.1,7.5,7.3,6.9,2.9,...,10.9,10.5,10.7,13.1,12.1,13.5,13.5,12.8,11.9,365
991:WA:SNTL,7.9,7.2,9.5,10.8,10.3,12.0,11.4,10.9,10.5,6.9,...,16.1,16.5,15.3,16.7,15.6,17.7,18.4,17.1,15.1,344

In [3]:
metadata = pd.read_csv(metadata_file, index_col=['site_id'])
metadata  = metadata.drop(columns=['Unnamed: 0'])
# also remove the sites with less than 340 obs from the metadata
metadata = metadata[metadata.index.isin(obs_data.index)]
# add number of observations column from the obs_data df
metadata['num_obs'] = obs_data['num_obs']
obs_data = obs_data.drop(columns=['num_obs'])
metadata

,site_type,agency,site_name,site_id_agency,site_query_url,date_metadata_last_updated,latitude,longitude,state,huc,...,file_path,county_name,elevation,shef_id,acton_id,conus1_x,conus1_y,conus2_x,conus2_y,num_obs
site_id,,,,,,,,,,,,,,,,,,,,,
1000:OR:SNTL,SNOTEL station,NRCS,Annie Springs,1000:OR:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,42.87007,-122.16518,OR,180102030101,...,/hydrodata/national_obs/point_meteorology/NRCS...,Klamath,6010.0,ANSO3,22G06S,NaN,NaN,258,2286,364
1005:CO:SNTL,SNOTEL station,NRCS,Ute Creek,1005:CO:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,37.61480,-105.37322,CO,130100020604,...,/hydrodata/national_obs/point_meteorology/NRCS...,Costilla,10734.0,UTCC2,05M17S,1063.0,495.0,1490,1448,365
1006:NV:SNTL,SNOTEL station,NRCS,Lewis Peak,1006:NV:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,40.35720,-116.86470,NV,160401070903,...,/hydrodata/national_obs/point_meteorology/NRCS...,Lander,7370.0,LWPN2,16J01S,137.0,957.0,592,1908,363
1008:MT:SNTL,SNOTEL station,NRCS,Onion Park,1008:MT:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.91348,-110.85360,MT,100301030801,...,/hydrodata/national_obs/point_meteorology/NRCS...,Meagher,7410.0,ONPM8,10C22S,753.0,1575.0,1196,2499,365
1009:MT:SNTL,SNOTEL station,NRCS,Stringer Creek,1009:MT:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.92690,-110.90198,MT,100301030801,...,/hydrodata/national_obs/point_meteorology/NRCS...,Meagher,6550.0,STCM8,10C23S,750.0,1577.0,1193,2501,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985:WA:SNTL,SNOTEL station,NRCS,Sourdough Gulch,985:WA:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.23718,-117.39438,WA,170601030202,...,/hydrodata/national_obs/point_meteorology/NRCS...,Asotin,4000.0,SGUW1,17C06S,245.0,1601.0,709,2531,365
988:ID:SNTL,SNOTEL station,NRCS,Hidden Lake,988:ID:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,48.89370,-116.75748,ID,170101040502,...,/hydrodata/national_obs/point_meteorology/NRCS...,Boundary,5040.0,HDLI1,16A12S,361.0,1879.0,825,2796,364
989:ID:SNTL,SNOTEL station,NRCS,Moscow Mountain,989:ID:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,46.80500,-116.85350,ID,170603061002,...,/hydrodata/national_obs/point_meteorology/NRCS...,Latah,4700.0,MSCI1,16C02S,300.0,1653.0,763,2580,365
990:WA:SNTL,SNOTEL station,NRCS,Beaver Pass,990:WA:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,48.87930,-121.25550,WA,171100050605,...,/hydrodata/national_obs/point_meteorology/NRCS...,Whatcom,3630.0,BVPW1,21A01S,NaN,NaN,518,2881,365
991:WA:SNTL,SNOTEL station,NRCS,Hozomeen Camp,991:WA:SNTL,https://wcc.sc.egov.usda.gov/awdbWebService/we...,2023-03-07,48.98075,-121.07976,WA,171100050602,...,/hydrodata/national_obs/point_meteorology/NRCS...,Whatcom,1690.0,HZOW1,21A35S,NaN,NaN,533,2887,344

In [4]:
# # Use GroupBy() to compute the sum of daily (or all obs within month) wtd observations by site_id
# usgs_group_id = usgs_csv.groupby('site_id').sum() # can also use usgs_csv.groupby('site_id')['wtd'].sum()
# usgs_group_id  = usgs_group_id.drop(columns=['Unnamed: 0']) #drop unnecessary column name
# usgs_group_id.rename(columns = {'wtd':'wtd_sum'}, inplace = True) # rename 'wtd' column to 'wtd_sum' for "monthly sum"
# usgs_group_id['num_obs'] = np.sqrt(usgs_group_id['num_obs']) #have to square root the num_obs because these were also summed
# usgs_group_id #.to_csv('grouped_usgs_wtd.csv')

In [5]:
# create a new dataframe to save important things
stats_df = pd.DataFrame(index = obs_data.index,
                      columns= ['site_name','latitude','longitude','year_avg_temp_C'])
stats_df['site_name'] = metadata['site_name']
stats_df['latitude'] = metadata['latitude']
stats_df['longitude'] = metadata['longitude']

In [6]:
stats_df

                    site_name  latitude  longitude year_avg_temp_C
site_id
1000:OR:SNTL    Annie Springs  42.87007 -122.16518             NaN
1005:CO:SNTL        Ute Creek  37.61480 -105.37322             NaN
1006:NV:SNTL       Lewis Peak  40.35720 -116.86470             NaN
1008:MT:SNTL       Onion Park  46.91348 -110.85360             NaN
1009:MT:SNTL   Stringer Creek  46.92690 -110.90198             NaN
...                       ...       ...        ...             ...
985:WA:SNTL   Sourdough Gulch  46.23718 -117.39438             NaN
988:ID:SNTL       Hidden Lake  48.89370 -116.75748             NaN
989:ID:SNTL   Moscow Mountain  46.80500 -116.85350             NaN
990:WA:SNTL       Beaver Pass  48.87930 -121.25550             NaN
991:WA:SNTL     Hozomeen Camp  48.98075 -121.07976             NaN

[578 rows x 4 columns]

In [7]:
# calcualate "yearly average" by dividing wtd_sum by num_obs (note not all sites have 365 observations)
# Result for 'yr_avg' is the yearly Average SNOTEL temperature Observations

obs_data_sum = obs_data.sum(axis=1)
print(obs_data_sum)

stats_df['year_avg_temp_C'] = obs_data_sum/metadata['num_obs']
#for y in range(len(obs_data_sum)):
 #   stats_df['year_avg_temp_C'][y] = obs_data_sum[y]/obs_data['num_obs'][y]
# usgs_group_id

site_id
1000:OR:SNTL    1885.4
1005:CO:SNTL     699.2
1006:NV:SNTL    2736.9
1008:MT:SNTL     823.1
1009:MT:SNTL     915.6
                 ...
985:WA:SNTL     3522.2
988:ID:SNTL     1725.2
989:ID:SNTL     2587.9
990:WA:SNTL     1946.1
991:WA:SNTL     3199.0
Length: 578, dtype: float64

In [8]:
stats_df

                    site_name  latitude  longitude  year_avg_temp_C
site_id
1000:OR:SNTL    Annie Springs  42.87007 -122.16518         5.179670
1005:CO:SNTL        Ute Creek  37.61480 -105.37322         1.915616
1006:NV:SNTL       Lewis Peak  40.35720 -116.86470         7.539669
1008:MT:SNTL       Onion Park  46.91348 -110.85360         2.255068
1009:MT:SNTL   Stringer Creek  46.92690 -110.90198         2.508493
...                       ...       ...        ...              ...
985:WA:SNTL   Sourdough Gulch  46.23718 -117.39438         9.649863
988:ID:SNTL       Hidden Lake  48.89370 -116.75748         4.739560
989:ID:SNTL   Moscow Mountain  46.80500 -116.85350         7.090137
990:WA:SNTL       Beaver Pass  48.87930 -121.25550         5.331781
991:WA:SNTL     Hozomeen Camp  48.98075 -121.07976         9.299419

[578 rows x 4 columns]

### CW3E (CONUS2 Forcing)

In [ ]:
# daily mean forcing
cw3e_path = '/hydrodata/forcing/processed_data/CONUS2/NLDAS3/daily/WY2003'

In [9]:
# temperature
for i in range():
    step = str(int(i+1)).rjust(3, '0')
    pf_flow_pfb = np.squeeze(read_pfb(f'{cw3e_path}/NLDAS.Temp.daily.min.{step}.pfb'))

TypeError: range expected 1 argument, got 0

In [ ]:
#add lat and long from the metadata
usgs_group_id['latitude'] = usgs_metadata['latitude']
usgs_group_id['longitude'] = usgs_metadata['longitude']

In [ ]:
usgs_group_id

In [ ]:
usgs_group_id.to_csv(f'{organized_dir}/USGS_Avg_WTD_Oct_WY2003_bySiteID.csv')

### ParFlow WTD

In [ ]:
### set up pandas dataframe of gage ID, lat/long, CONUS2 x and y indices ###
pf_wtd_df = np.zeros((no_days, ny, nx))
pf_wtd_df.shape

In [ ]:
### READ WTD PFBs ###
# Read in CONUS2 daily WTD PFBs and save as df in wtd_df
for i in range(no_days):
    step = str(int(i+1)).rjust(3, '0')
    pf_wtd_pfb  = np.squeeze(read_pfb(f'{directory_out}/WTD.{water_year}.daily.{step}.pfb'))
    pf_wtd_df[i,...] = pf_wtd_pfb
    print(f'reading WTD for day {step}, {pf_wtd_pfb.shape}')
    

    
# Create column for matching/have flow (=1) and not matching/have no flow (=0) gages
#pf_flow_df['matched'] = np.where(pf_flow_df['day 001']>0, 1, 0)

# remove cells with no flow and make new pandas df with matching flow at CONUS2 cells and USGS gages
#pf_flow_df_NWM_match = pf_flow_df[pf_flow_df.matched != 0]

# SAVE OUT PANDAS DF FOR CONUS2 FLOW
### save csv file of all matching gage locations and CONUS2 daily flow, note the USGS STNID's drop the leading zeros when saving
#pf_flow_df_NWM_match.to_csv(f'{organized_dir}/CONUS2_NWM_matched_flow_{water_year}.csv', sep = ",")

In [ ]:
pf_wtd_df.shape

In [ ]:
# Calculate Monthly Average WTD for PFCLM
pf_wtd_avg = np.mean(pf_wtd_df, axis = 0)*24 #average ######################## I MULTIPLIED BY 24 Here because I THINK THAT WTD IS ACCUMULATED and I fuked up the initial script

In [ ]:
pf_wtd_avg.shape

In [ ]:
pf_wtd_avg.max()

In [ ]:
np.savetxt(f'{organized_dir}/PFCLM_Avg_WTD_Oct_WY2003.csv', pf_wtd_avg, delimiter=",")

In [ ]:
# NEXT STEPS:
# find the CONUS2 indices that correspond to each site id
# USGS - find CONUS2 indices that have multiple sites in a grid cell and average these... save these as CONUS2 indices???
# PFCLM - locate and save the WTD at CONUS2 indices that correspond to sites
# Compare!

In [ ]:
# Read in the USGS sites that have been matched to the CONUS2 x and y (Find_CONUS2_indices_WTD.ipynb)
usgs_conus_xy = pd.read_csv('../../Coordinates_to_Indices/USGS_sites_CONUS2_indices_WTD.csv', index_col=['site_id'])

In [ ]:
usgs_conus_xy

In [ ]:
# Join the USGS average WTD dataframe with the CONUS2 x and y
usgs_conus_join = usgs_group_id.join(usgs_conus_xy)
usgs_conus_join

In [ ]:
# Find the USGS average WTD for sites with more than one site per CONUS2 cell
usgs_by_cell = usgs_conus_join.groupby(['CONUS_y','CONUS_x']).agg({'wtd_avg': 'mean'})
### THIS NEEDS TO BE REDONE BECAUSE IT REMOVES THE SITE ID

In [ ]:
usgs_by_cell = usgs_by_cell.reset_index()
usgs_by_cell

In [ ]:
result = pf_wtd_avg[usgs_by_cell['CONUS_y'],usgs_by_cell['CONUS_x']]

In [ ]:
result.shape

In [ ]:
usgs_pf_WTD_avg = usgs_by_cell
usgs_pf_WTD_avg['pf_avg_wtd'] = result.tolist()
usgs_pf_WTD_avg.drop(usgs_pf_WTD_avg[usgs_pf_WTD_avg['wtd_avg']<0].index, inplace=True)

In [ ]:
usgs_pf_WTD_avg

In [ ]:
# Scatter plot of daily mean flow for October WY2003, PF vs. USGS
fig = plt.figure(figsize=(7,7), dpi=72)
ax = fig.add_subplot()

ax.scatter(usgs_pf_WTD_avg['wtd_avg'], usgs_pf_WTD_avg['pf_avg_wtd'], color = 'dimgrey')
plt.ylabel('PF-CONUS2 WTD (m)')#,fontsize=18
plt.xlabel('USGS WTD (m)')#,fontsize=18
plt.title('Monthly mean WTD comparison, October WY2003 (m)')#,fontsize=20